<div class="navbar-search-box">
  <div class="search-box" [ngClass]="{'active': searchBoxActivated}">
    <span class="search-box-icon">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </span>
    <input [(ngModel)]="keyword" placeholder="Search" type="text" class="search-box-input" id="search-keyword"
      (focus)="activateSearchBox()" (focusout)="deactivateSearchBox()" (ngModelChange)="keywordChanged($event)"
      (paste)="keywordChanged($event)">
    <span class="remove-keyword" *ngIf="keyword != ''" (click)="resetKeyword()">
      <fa-icon [icon]="timesIcon"></fa-icon>
    </span>
  </div>
</div>
