.navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  left: 0;
  padding: 10px 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  app-navbar-search-box {
    flex: 1;
  }
}
