.post-list {
  box-sizing: border-box;
  position: relative;
  text-align: center;

  .post {
    box-sizing: border-box;
    border: solid 1px red;
    background-color: antiquewhite;
    border-radius: 30px;
    margin: 20px 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    width: 240px;

    .post-image {
      display: block;
      margin: 0;
      width: 100%;
    }
  }

}
