@keyframes rotation{
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}

.indicator {
  margin: 0 auto;
  position: relative;

  .spinner {
    animation: rotation 1.5s ease-in-out infinite;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .spinner-part {
      height: 100%;
      transform-origin: left center;
      width: 50%;

      &.left {
        background-color: black;
        border-radius: 500px 0 0 500px;
      }

      &.right {
        background-color: #e60023;
        border-radius: 0 500px 500px 0;
        transform: rotate(35deg);
      }
    }
  }

  .mask {
    background-color: white;
    border-radius: 100%;
    height: 72%;
    left: 14%;
    position: absolute;
    top: 14%;
    width: 72%;
  }
}
