.navbar-button {
  align-items: center;
  background-color: black;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  font-family: calibri;
  font-weight: bold;
  font-size: 18px;
  height: 48px;
  padding: 0 16px;
}
