<div class="post" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <div class="content">
    <div class="overlay" [ngClass]="{'show': show, 'fade': fade}">
      <div class="top-items">
        <app-save-button></app-save-button>
      </div>
      <div class="bottom-items">

        <!-- Author link -->
        <span></span>
        <!--/ Author link -->

        <!-- Share menu -->
        <app-circle-button>
          <fa-icon [icon]="iconShare" buttonIcon></fa-icon>
        </app-circle-button>
        <!--/ Share menu -->

        <!-- Image menu -->
        <app-circle-button>
          <fa-icon [icon]="iconEllipsis" buttonIcon></fa-icon>
        </app-circle-button>
        <!--/ Image menu -->

      </div>
    </div>

    <!-- Post image -->
    <div class="post-image-container">
      <img [src]="post.image_url" class="post-image" />
    </div>
    <!--/ Post image -->
  </div>
  <div class="info">
    laskdfjajfla
  </div>
</div>
