.post {
  transition: all 0.4s ease-in-out;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .content {
    cursor: zoom-in;
    position: relative;

    .overlay {
      background-color: rgba(51, 51, 51, 0.35);
      border-radius: 16px;
      bottom: 0;
      display: none;
      grid-template-rows: 68px auto 52px;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 100ms 0ms ease-in-out;

      .top-items {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        grid-row: 1;
      }

      .bottom-items {
        display: grid;
        grid-gap: 5px;
        grid-row: 3;
        grid-template-columns: auto 36px 36px;
        margin: 8px;
      }

      &.show {
        display: grid;
      }

      &.fade {
        opacity: 1;
        transition: opacity 100ms 10ms ease-in;
      }
    }

    .post-image-container {
      border-radius: 16px;
      overflow: hidden;

      .post-image {
        display: block;
        margin: 0;
        width: 100%;
      }
    }
  }
}
